#jinja2: trim_blocks: False
{% include 'all.yml.tmpl' %}
{% if environment_definition.build.deployment_model is search('a') %}
{% include 'templates/alla.yml.tmpl' %}
{% if environment_definition.build.disaster_recovery %}
{% include 'templates/dralla.yml.tmpl' %}
{% endif %}
{% endif %}
{% if environment_definition.build.deployment_model is search('h') %}
{% include 'templates/allh.yml.tmpl' %}
{% if environment_definition.build.disaster_recovery %}
{% include 'templates/drallh.yml.tmpl' %}
{% endif %}
{% endif %}
