##################################################################################
# VM specific information
##################################################################################
vm_vars:

  ################
  # Simulator VM
  ################
  smlt:

{%- if environment_definition.vm_setting.smlt.user.name is defined and environment_definition.vm_setting.smlt.user.name != none and environment_definition.vm_setting.smlt.user.name != '' and environment_definition.vm_setting.smlt.user.password is defined and environment_definition.vm_setting.smlt.user.password != none and environment_definition.vm_setting.smlt.user.password != '' %}
{% block smltusers %}
    # User credentials
    user:
      name: "{{ environment_definition.vm_setting.smlt.user.name }}"
      password: "{{ environment_definition.vm_setting.smlt.user.password }}"
{%- endblock smltusers %}
{%- endif %}

    # number of CPUs
    cpu: "{{ environment_definition.vm_setting.smlt.cpu if (environment_definition.vm_setting.smlt.cpu is defined and environment_definition.vm_setting.smlt.cpu != none) else '' }}"

    # Memory size in GiB
    memory: "{{ environment_definition.vm_setting.smlt.memory if (environment_definition.vm_setting.smlt.memory is defined and environment_definition.vm_setting.smlt.memory != none) else '' }}"

    # Disks sizing in GiB
    disk0: "{{ environment_definition.vm_setting.smlt.disk0 if (environment_definition.vm_setting.smlt.disk0 is defined and environment_definition.vm_setting.smlt.disk0 != none) else '0' }}"
    disk1: "{{ environment_definition.vm_setting.smlt.disk1 if (environment_definition.vm_setting.smlt.disk1 is defined and environment_definition.vm_setting.smlt.disk1 != none) else '0' }}"
    disk2: "{{ environment_definition.vm_setting.smlt.disk2 if (environment_definition.vm_setting.smlt.disk2 is defined and environment_definition.vm_setting.smlt.disk2 != none) else '0' }}"
    disk3: "{{ environment_definition.vm_setting.smlt.disk3 if (environment_definition.vm_setting.smlt.disk3 is defined and environment_definition.vm_setting.smlt.disk3 != none) else '0' }}"

    disk_provisioning: "{{ environment_definition.vm_setting.smlt.disk_provisioning if (environment_definition.vm_setting.smlt.disk_provisioning is defined and environment_definition.vm_setting.smlt.disk_provisioning != none) else '' }}"

    hostmap: {{ (environment_definition.vm_setting.smlt.hostmap.split(',')|map('trim')|list if environment_definition.vm_setting.smlt.hostmap is search(',') else [environment_definition.vm_setting.smlt.hostmap|string]) if (environment_definition.vm_setting.smlt.hostmap is defined and environment_definition.vm_setting.smlt.hostmap != none) else [] }}

    vmname: "{{ environment_definition.vm_setting.smlt.vmname if (environment_definition.vm_setting.smlt.vmname is defined and environment_definition.vm_setting.smlt.vmname != none) else '' }}"

    # Network interface 1
    ################
    nic1:

      # Interface name
      intname: "{{ environment_definition.vm_setting.smlt.nic1.intname if (environment_definition.vm_setting.smlt.nic1.intname is defined and environment_definition.vm_setting.smlt.nic1.intname != none) else 'ens160' }}"

      # IP pool
      ip_pool: {{ environment_definition.vm_setting.smlt.nic1.ip_pool if (environment_definition.vm_setting.smlt.nic1.ip_pool is defined and environment_definition.vm_setting.smlt.nic1.ip_pool != none) else [] }}

      # IP fourth octet pool
      ip_octetpool: {{ environment_definition.vm_setting.smlt.nic1.ip_octetpool if (environment_definition.vm_setting.smlt.nic1.ip_octetpool is defined and environment_definition.vm_setting.smlt.nic1.ip_octetpool != none) else [] }}

      # Gateway
      gtw: "{{ environment_definition.vm_setting.smlt.nic1.gtw if (environment_definition.vm_setting.smlt.nic1.gtw is defined and environment_definition.vm_setting.smlt.nic1.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.smlt.nic1.gtw_octet if (environment_definition.vm_setting.smlt.nic1.gtw_octet is defined and environment_definition.vm_setting.smlt.nic1.gtw_octet != none) else '' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.smlt.nic1.netmask if (environment_definition.vm_setting.smlt.nic1.netmask is defined and environment_definition.vm_setting.smlt.nic1.netmask != none) else '' }}"

      # IPV6 pool
      ipv6_pool: {{ environment_definition.vm_setting.smlt.nic1.ipv6_pool if (environment_definition.vm_setting.smlt.nic1.ipv6_pool is defined and environment_definition.vm_setting.smlt.nic1.ipv6_pool != none) else [] }}

      # IPV6 Gateway
      ipv6_gtw: "{{ environment_definition.vm_setting.smlt.nic1.ipv6_gtw if (environment_definition.vm_setting.smlt.nic1.ipv6_gtw is defined and environment_definition.vm_setting.smlt.nic1.ipv6_gtw != none) else '' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.smlt.nic1.netname if (environment_definition.vm_setting.smlt.nic1.netname is defined and environment_definition.vm_setting.smlt.nic1.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.smlt.nic1.network if (environment_definition.vm_setting.smlt.nic1.network is defined and environment_definition.vm_setting.smlt.nic1.network != none) else '' }}"

    # Network interface 2
    ################
    nic2:

      # Interface name
      intname: "{{ environment_definition.vm_setting.smlt.nic2.intname if (environment_definition.vm_setting.smlt.nic2.intname is defined and environment_definition.vm_setting.smlt.nic2.intname != none) else 'ens192' }}"

      # IP pool
      ip_pool: {{ environment_definition.vm_setting.smlt.nic2.ip_pool if (environment_definition.vm_setting.smlt.nic2.ip_pool is defined and environment_definition.vm_setting.smlt.nic2.ip_pool != none) else [] }}

      # IP fourth octet pool
      ip_octetpool: {{ environment_definition.vm_setting.smlt.nic2.ip_octetpool if (environment_definition.vm_setting.smlt.nic2.ip_octetpool is defined and environment_definition.vm_setting.smlt.nic2.ip_octetpool != none) else [] }}

      # Gateway
      gtw: "{{ environment_definition.vm_setting.smlt.nic2.gtw if (environment_definition.vm_setting.smlt.nic2.gtw is defined and environment_definition.vm_setting.smlt.nic2.gtw != none) else '' }}"

      # Gateway fourth octet
      gtw_octet: "{{ environment_definition.vm_setting.smlt.nic2.gtw_octet if (environment_definition.vm_setting.smlt.nic2.gtw_octet is defined and environment_definition.vm_setting.smlt.nic2.gtw_octet != none) else '' }}"

      # Netmask
      netmask: "{{ environment_definition.vm_setting.smlt.nic2.netmask if (environment_definition.vm_setting.smlt.nic2.netmask is defined and environment_definition.vm_setting.smlt.nic2.netmask != none) else '' }}"

      # IPV6 pool
      ipv6_pool: {{ environment_definition.vm_setting.smlt.nic2.ipv6_pool if (environment_definition.vm_setting.smlt.nic2.ipv6_pool is defined and environment_definition.vm_setting.smlt.nic2.ipv6_pool != none) else [] }}

      # IPV6 Gateway
      ipv6_gtw: "{{ environment_definition.vm_setting.smlt.nic2.ipv6_gtw if (environment_definition.vm_setting.smlt.nic2.ipv6_gtw is defined and environment_definition.vm_setting.smlt.nic2.ipv6_gtw != none) else '' }}"

      # Net Name
      netname: "{{ environment_definition.vm_setting.smlt.nic2.netname if (environment_definition.vm_setting.smlt.nic2.netname is defined and environment_definition.vm_setting.smlt.nic2.netname != none) else '' }}"

      # Net Base
      netbase: "{{ environment_definition.vm_setting.smlt.nic2.network if (environment_definition.vm_setting.smlt.nic2.network is defined and environment_definition.vm_setting.smlt.nic2.network != none) else '' }}"
