
    drvcenter:
      hosts:
        drvcenter[01:01]:
    dr:
      children:
        drlnxvm:
          hosts:
            drlnxvm[01:{{ '%02d' | format(environment_definition.build.secondary.number_of_lnxvm|int) }}]:
