
    drvcenter:
      hosts:
        drvcenter[01:01]:
    dr:
      children:
        drsmlt:
          hosts:
            drsmlt[01:{{ '%02d' | format(environment_definition.build.secondary.number_of_smlt|int) }}]:
