<!-- Generic device config -->
<key name="avm{{ first_available_id }}">
  <key name="agents">
    <key name="{{ device.id }}">
      <entry name="snmpClassName">com.sheer.tools.simulator.snmp.Cisco6400NspSnmpSimulator</entry>
      <entry name="telnetClassName">com.sheer.tools.simulator.telnet.Cisco7200TelnetSimulatorGenerator</entry>
      <entry name="enableEcho">true</entry>
      <entry name="ssh">2</entry>
      <entry name="Username">{{ device.username }}</entry>
      <entry name="Password">{{ device.password }}</entry>
{% if device.id|lower is search('air-') %}
      <entry name="cliError"><![CDATA[Incorrect usage.  Use the '?' or <TAB> key to list commands.]]></entry>
      <entry name="UsernamePrompt">User: </entry>
{% endif %}
      <key name="ipList">
        <entry name="ips">{{ first_available_ip }}-{{ device.num }}</entry>
      </key>
      <key name="cisco">
{% if device.netconf|default(false) %}
        <entry name="netconfFile">../recordings/{{ device.type }}/netconf/{{ device.id }}.nconf</entry>
{% endif %}
{% if device.snmp|default(false) %}
        <entry name="walkFile">../recordings/{{ device.type }}/snmp/{{ device.id }}.snmp</entry>
{% endif %}
{% if device.id|lower is search('air-') %}
        <entry name="prompt">{HOST} &gt;</entry>
{% else %}
        <entry name="prompt">{HOST}#</entry>
{% endif %}
{% if device.ssh|default(false) %}
        <entry name="recordFile">../recordings/{{ device.type }}/telnet/{{ device.id }}.cli</entry>
{% endif %}
      </key>
    </key>
  </key>
</key>
