<!-- Generic catalyst device config -->
<key name="avm{{ avmid }}">
  <key name="agents">
    <key name="{{ device.id }}">
      <entry name="snmpClassName">com.sheer.tools.simulator.snmp.Cisco6400NspSnmpSimulator</entry>
      <entry name="telnetClassName">com.sheer.tools.simulator.telnet.Cisco7200TelnetSimulatorGenerator</entry>
      <entry name="enableEcho">true</entry>
{% if device.netconf|default(false)|bool %}
      <entry name="isNetConfEnabled">true</entry>
{% endif %}
{% if device.ssh|default(false)|bool %}
      <entry name="ssh">2</entry>
      <entry name="Username">{{ device.username }}</entry>
      <entry name="Password">{{ device.password }}</entry>
{% endif %}
      <key name="ipList">
        <entry name="ips">{{ device.ip }}-{{ device.num }}</entry>
      </key>
{% if device.netconf|default(false)|bool %}
        <entry name="netconfFile">../recordings/{{ device.type }}/netconf/{{ device.id }}.nconf</entry>
{% endif %}
{% if device.snmp|default(false)|bool %}
      <!-- SNMP community name -->
      <key name="{{ device.community|default('cisco') }}">
        <entry name="walkFile">../recordings/{{ device.type }}/snmp/{{ device.id }}.snmp</entry>
      </key>
{% endif %}
{% if device.ssh|default(false)|bool %}
      <key name="enable">
        <entry name="command">enable,cisco</entry>
        <entry name="prompt">{HOST}&gt;,Password:,{HOST}#</entry>
        <entry name="recordFile">../recordings/{{ device.type }}/cli/{{ device.id }}.cli</entry>
      </key>
{% endif %}
    </key>
  </key>
</key>
