[common]
CurrentVersion={{ build.version.release|replace('R', '') }}
TargetVersion={{ build.version.release|replace('R', '') }}
primary_relay_server_IP={{ rly_ip1_list[0] }}
secondary_relay_server_IP={{ rly_ip1_list[1] }}
mcIP={{ netconfig.nic1.ipaddress }}
ipaddress1={{ netconfig.nic1.ipaddress }}
ipaddress2={{ netconfig.nic2.ipaddress }}
isGeoServer=False
netscalar_ip_list={{ build.primary.octets }}.53,{{ build.primary.octets }}.54,{{ build.primary.octets }}.55
netscaler_ip1={{ build.primary.octets }}.53
netscaler_ip2={{ build.primary.octets }}.54
netscaler_snip={{ build.primary.octets }}.55
is4_ip_01={{ build.primary.octets }}.6
isSNOWEnabled=No
isATAEnabled={{ True if groups['atarly'] is defined else False }}
{% if inventory_hostname is not search('atarly') %}
{% block ata %}
{{ 'isCommonRelayServer=False' if (inventory_hostname is search('rly') and vm.name is not search('aio')) else '' }}
{% endblock ata %}
{% endif %}
customer_name={{ build.name }}
custNamePrefix={{ build.primary.name_prefix }}
em7_db_vip={{ vip.db }}
em7_AdminPortalVIP={{ vip.prt }}
em7_AdminPortalVIPHostName={{ prt_hst_list[0] | regex_replace('prt[a-z]01', 'prtv01') }}
em7_AdminPortalVIPFQDN={{ prt_hst_list[0] | regex_replace('prt[a-z]01', 'prtv01') }}.{{ sysconfig.domain_name }}
living_objects_ip=
splunk_search_head_vip={{ vip.src }}
relay_server_vip={{ vip.rly }}
relayServerDBVIP={{ vip.rly_db }}
relay_ip_list={{ rly_ip1_list|join(',') }}
relay1_hostname={{ rly_hst_list[0] }}
relay2_hostname={{ rly_hst_list[1] }}
primary_db_server_ip={{ db_ip1_list[0] }}
secondary_db_server2_ip={{ db_ip1_list[1] }}
primary_em7_portal_server_ip={{ prt_ip1_list[0] }}
secondary_em7_portal_server_ip={{ prt_ip1_list[1] }}
server_type={{ 'primary' if inventory_hostname is search('rly01') else 'secondary' }}
em7_user_name={{ ansible_user }}
splunk_user_name=admin
em7_access_portal_cpu_core_count={{ prt_cpu_list[0] }}
em7_access_portal_ram_gb={{ prt_mem_list[0] }}
ntp_source_ip={{ sysconfig.primary_ntp_server }}
domain_name={{ sysconfig.domain_name }}
[headend]
indexer01_ip={{ splunk.he_indexer01_ip }}
indexer02_ip=None
searchhead01_ip={{ splunk.he_searchhead01_ip }}
searchhead02_ip={{ splunk.he_searchhead02_ip }}
deployment_server_ip={{ splunk.he_deployment_server_ip }}
tile_server_ip={{ splunk.tile_server }}
[em7]
appliances={{ appliances_list|join(',') }}
admin_portal_ip_list={{ prt_ip1_list|join(',') }}
primary_db_ip={{ db_ip1_list[0] }}
secondary_db_ip={{ db_ip1_list[1] }}
dc_ip_list={{ dc_ip1_list|join(',') }}
mc_ip_list={{ mc_ip1_list|join(',') }}
all_dc_ip_list={{ dc_ip1_list|join(',') }}
all_mc_ip_list={{ mc_ip1_list|join(',') }}
splunk_proxy={{ build.primary.name_prefix }}em7splproxy.{{ sysconfig.domain_name }}
beta_proxy={{ build.primary.name_prefix }}em7splbetaproxy.{{ sysconfig.domain_name }}
ondemand_proxy={{ build.primary.name_prefix }}em7splodproxy.{{ sysconfig.domain_name }}
lo_proxy={{ build.primary.name_prefix }}em7loproxy.{{ sysconfig.domain_name }}
[is4]
is4_region=IS4_build
