{% if hostvars[groups['vcenter'][0]]['information']['datacenter']|lower is regex('staging|stg') %}
{% block staging %}
ADDRESS0=172.23.251.0
GATEWAY0={{ build.secondary.octets }}.62
NETMASK0=255.255.255.0
ADDRESS1=172.23.252.0
GATEWAY1={{ build.secondary.octets }}.62
NETMASK1=255.255.255.0
ADDRESS2=172.23.253.0
GATEWAY2={{ build.secondary.octets }}.62
NETMASK2=255.255.255.0
ADDRESS3=172.23.254.0
GATEWAY3={{ build.secondary.octets }}.62
NETMASK3=255.255.255.0
{% endblock staging %}
{% else %}
ADDRESS0=172.19.240.0
NETMASK0=255.255.240.0
GATEWAY0={{ build.secondary.octets }}.62
ADDRESS1=172.21.240.0
NETMASK1=255.255.240.0
GATEWAY1={{ build.secondary.octets }}.62
ADDRESS2=172.26.9.0
NETMASK2=255.255.255.0
GATEWAY2={{ build.secondary.octets }}.62
ADDRESS3=172.29.9.0
NETMASK3=255.255.255.0
GATEWAY3={{ build.secondary.octets }}.62
ADDRESS4=172.30.240.0
NETMASK4=255.255.255.0
GATEWAY4={{ build.secondary.octets }}.62
ADDRESS5=172.30.251.0
NETMASK5=255.255.255.0
GATEWAY5={{ build.secondary.octets }}.62
{% if hostvars[groups['drvcenter'][0]]['information']['datacenter'] is not regex('RTP5|Alln1') %}
{% block lab %}
ADDRESS6=172.30.240.0
NETMASK6=255.255.255.0
GATEWAY6={{ build.secondary.octets }}.62
ADDRESS7=172.30.251.0
NETMASK7=255.255.255.0
GATEWAY7={{ build.secondary.octets }}.62
{% endblock lab %}
{% endif %}
{% endif %}
